<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container>
                    <v-tabs v-model="tab" align-with-title>
                        <v-tabs-slider color="yellow"></v-tabs-slider>
                        <v-tab v-for="item in tabs" :key="item">
                            {{ item }}
                        </v-tab>
                    </v-tabs>
                    <v-tabs-items v-model="tab">
                        <v-tab-item :key="tabs[0]">
                            <v-container>
                                <v-row>
                                    <v-col cols="4">
                                        <v-text-field label="敵の残りHP" suffix="万" type="number" v-model="rest_hp">
                                        </v-text-field>
                                    </v-col>
                                    <v-col cols="4">
                                        <v-text-field label="ダメージA" suffix="万" type="number" v-model="damage_a">
                                        </v-text-field>
                                    </v-col>
                                    <v-col cols="4">
                                        <v-text-field label="ダメージB" suffix="万" type="number" v-model="damage_b">
                                        </v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row v-if="damage_a && !damage_b">
                                    <v-col cols="6">
                                        <v-text-field label="フル持ち越し必要" suffix="万" :value="rest_hp / (1 - 69 / 90)"
                                            readonly>
                                        </v-text-field>
                                    </v-col>
                                    <v-col cols="6">
                                        <v-text-field label="持ち越し" suffix="秒"
                                            :value="Number(damage_a) > Number(rest_hp) ? (Math.min((1 - rest_hp / damage_a) * 90, 70) + 20) : 'なし'" readonly></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row v-if="damage_a && damage_b">
                                    <v-col cols="3">
                                        A->B
                                    </v-col>
                                    <v-col cols="3">
                                        <v-text-field label="A凸後敵残り" suffix="万" :value="rest_hp - damage_a" readonly>
                                        </v-text-field>
                                    </v-col>
                                    <v-col cols="3">
                                        <v-text-field label="A凸後フル持ち越し必要" suffix="万"
                                            :value="(rest_hp - damage_a) / (1 - 69 / 90)" readonly></v-text-field>
                                    </v-col>
                                    <v-col cols="3">
                                        <v-text-field label="B持ち越し" suffix="秒"
                                            :value="Number(damage_b) > (rest_hp - damage_a) ? Math.min((1 - (rest_hp - damage_a) / damage_b) * 90, 70) + 20 : 'なし'" readonly>
                                        </v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row v-if="damage_a && damage_b">
                                    <v-col cols="3">
                                        B->A
                                    </v-col>
                                    <v-col cols="3">
                                        <v-text-field label="B凸後敵残り" suffix="万" :value="rest_hp - damage_b" readonly>
                                        </v-text-field>
                                    </v-col>
                                    <v-col cols="3">
                                        <v-text-field label="B凸後フル持ち越し必要" suffix="万"
                                            :value="(rest_hp - damage_b) / (1 - 69 / 90)" readonly></v-text-field>
                                    </v-col>
                                    <v-col cols="3">
                                        <v-text-field label="A持ち越し" suffix="秒"
                                            :value="Number(damage_a) > (rest_hp - damage_b) ? Math.min((1 - (rest_hp - damage_b) / damage_a) * 90, 70) + 20 : 'なし'" readonly>
                                        </v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-tab-item>
                        <v-tab-item :key="tabs[1]">
                            <v-row>
                                <v-col>
                                    <v-text-field label="持ち越し" suffix="秒" v-model="rest_time" @change="note_change">
                                    </v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="6">
                                    <v-textarea rows="10" label="手動順番を貼ってください" auto-grow v-model="note" @change="note_change">
                                    </v-textarea>
                                </v-col>
                                <v-col cols="6">
                                    <v-textarea rows="10" auto-grow :value="fixed_note" readonly>
                                    </v-textarea>
                                </v-col>
                            </v-row>
                        </v-tab-item>
                    </v-tabs-items>
                </v-container>
            </v-main>
        </v-app>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    tabs: ['連携計算', '持越時間修正'],
                    tab: '連携計算',
                    damage_a: 0,
                    damage_b: 0,
                    rest_hp: 0,
                    rest_time: 90,
                    note: '',
                    fixed_note: ''
                }
            },
            methods: {
                note_change() {
                    this.fixed_note = '';
                    let notes = this.note.split('\n');
                    notes.forEach(element => {
                        this.fixed_note += this.fix_string(element) + '\n';
                    });
                },
                fix_string(str) {
                    let time = '';
                    let temp = 0;
                    for (var i = 0; i < str.length; i++) {
                        if (this.isNumber(str.charAt(i))) time += str.charAt(i);
                        else if (str.charAt(i) == ':' || str.charAt(i) == '：' || str.charAt(i) == ' ') continue;
                        else {
                            temp = i;
                            break;
                        }
                    }
                    if (time.length == 0) {
                        return str;
                    }
                    else {
                        time = Number(time);
                        if (time > 100) time -= 40;
                        time -= (90 - this.rest_time);
                        if (time >= 60) return '1:' + (time - 60 + '').padStart(2, '0') + ' ' + str.substr(temp);
                        else if (time >= 0) return '0:' + (time + '').padStart(2, '0') + ' ' + str.substr(temp);
                        else return '';
                    }
                },
                isNumber(char) {
                    return !isNaN(char) && !isNaN(parseFloat(char));
                }
            },
        });
    </script>
</body>

</html>